<div class="content">
    <section>
        <h1>Asignación 2</h1>

		<h2>Comunicación Analógica</h2>
		<p>
		  En el ámbito de las telecomunicaciones, la comunicación analógica se
		  refiere al proceso de transmisión de información mediante señales
		  continuas las cuales varían en sus características físicas (amplitud,
		  frecuencia o fase) para representar la información que se desea
		  transmitir.
		</p>
	
		<h2>Ejemplos de comunicación analógica</h2>
		<ul>
		  <li>Telefonía</li>
		  <li>Radio</li>
		  <li>Televisión analógica</li>
		</ul>
	
		<h2>Características principales de la comunicación analógica</h2>
		<ul>
		  <li>Señales continuas</li>
		  <li>Modulación</li>
		  <li>Sensibilidad al ruido</li>
		  <li>Richness</li>
		</ul>
	
		<h2>Tipos de modulación de la comunicación analógica</h2>
		<p>
		  En las comunicaciones analógicas, la modulación es el proceso de
		  "imprimir" información de una señal de banda base (que contiene la
		  información original que se transmitirá) en una señal portadora de mayor
		  frecuencia.
		</p>
	
		<h3>Modulación de amplitud (AM)</h3>
		<ul>
		  <li>Ventajas:</li>
		  <ul>
			<li>Simple de implementar y de bajo costo</li>
			<li>Buena calidad de audio</li>
		  </ul>
		  <li>Desventajas:</li>
		  <ul>
			<li>Sensible al ruido y a las interferencias</li>
			<li>Ocupa un ancho de banda mayor que la señal original</li>
		  </ul>
		</ul>
	
		<h3>Modulación de frecuencia (FM)</h3>
		<ul>
		  <li>Ventajas:</li>
		  <ul>
			<li>Muy resistente al ruido y a las interferencias</li>
			<li>Mayor calidad de audio que la AM</li>
			<li>Ocupa un ancho de banda menor que la AM para la misma calidad de audio</li>
		  </ul>
		  <li>Desventajas:</li>
		  <ul>
			<li>Más compleja de implementar que la AM</li>
			<li>Requiere transmisores y receptores más costosos</li>
		  </ul>
		</ul>
	
		<h3>Modulación de fase (PM)</h3>
		<ul>
		  <li>Ventajas:</li>
		  <ul>
			<li>Muy resistente al ruido y a las interferencias</li>
			<li>Puede transmitir información binaria de manera eficiente</li>
		  </ul>
		  <li>Desventajas:</li>
		  <ul>
			<li>Más compleja de implementar que la AM y la FM</li>
			<li>Requiere receptores más complejos</li>
		  </ul>
		</ul>
	
		<h2>Comunicación digital</h2>
		<p>
		  El proceso de comunicación digital implica la transferencia de datos a
		  través de señales discretas que representan la información original
		  mediante códigos binarios formados por 0 y 1.
		</p>
    </section>
</div>